@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Readex+Pro:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

body {
    background-color: blueviolet;
}

header div {
    display: flex;
    justify-content: end;
}

header img {
    height: 40px;
    margin-left: 10px;
}

header img:hover {
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h1 {
    font-size: 6em;
    margin-top: 140px;
    margin-bottom: 0px;
}

section h1:hover {
    color: purple;
}   

.pesquisar {
    flex-direction: row;
}

#barraPesquisar {
    background-color: white;
    border-radius: 12px;
    border: none;
    height: 25px;
    width: 300px;
    margin: 4px;
    padding-left: 5px;
}

section button {
    color: white;
    background-color: purple;
    border-radius: 12px;
    border: none;
    height: 25px;
    cursor: pointer;
}

section button:hover {
    background-color: rgb(194, 0, 194);
}