@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Readex+Pro:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

body {
    background-color: blueviolet;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header h2, #barraPesquisar {
    padding: 0px;
    margin: 0px;
}

#barraPesquisar input {
    background-color: white;
    border-radius: 12px;
    border: none;
    height: 20px;
    width: 200px;
    margin: 4px;
    padding-left: 8px;
}

header button {
    color: white;
    background-color: purple;
    border-radius: 12px;
    border: none;
    height: 24px;
    cursor: pointer;
}

section button:hover {
    background-color: rgb(194, 0, 194);
}

#perfilJogador, #winrate, #elo, #historico {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#winrate, #elo {
    max-width:max-content;
    padding: 40px;
}

#perfilJogador {
    width: 300px;
    padding: 40px;
}

#historico {
    width: 400px;
    max-width: 400px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 35px;
}

#statistic, #historico {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}